@page
@model Ecommerce0.Pages.Shop.InvoiceConfirmedModel
@{
}

<h1 class="container text-center m-5 p-5">
    Thank you for buying <br /> 
    <small class="lead">We hope to see you again soon</small>
</h1>

<div class="container m-auto w-100 h-auto">
    <img src="https://i.kym-cdn.com/entries/icons/facebook/000/000/107/smily.jpg" alt="Alternate Text" width="100%"/>
    <div class="row d-flex justify-content-between">
        <a href="/me/index" class=" btn btn-outline-warning">Continue Shopping    <i class="fas fa-store fs-5"></i> </a>
    </div>
    <br />
</div>
